<html>
	<head>
		<link rel="stylesheet" type="text/css" href="views/css/all.css">
	</head>
	<body>
		<div id="appContainer">
			<div id="appHeader">
				<h1>HORSES & BACKERS</h1>
			</div>
			<ul id="appMenu">
				<li>
					<a href="index.php?view=register">
						Register/Login<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="index.php?view=user">
						My Settings<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="index.php?view=sessions">
						Sessions<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="index.php?view=statistics">
						Statistics<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="index.php?view=backings">
						Backings<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="index.php?view=horses">
						Horses<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="index.php?view=payment">
						Track a Payment<span>&gt;</span>
					</a>
				</li>
			</ul>
			<div id="appView">
				[onload;file=[var.template];getbody]
			</div>
		</div>
	</body>
</html>