<html>
	<head>
		<link rel="stylesheet" type="text/css" href="views/css/all.css">
	</head>
	<body>
		<div id="appContainer">
			<div id="appHeader">
				<h1>Poker Tracker</h1>
			</div>
			<ul id="appMenu">
				<li>
					<a href="register.php">
						Home<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="sessions.php">
						Sessions<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="statistics.php">
						Statistics<span>&gt;</span>
					</a>
				</li>
				<li>
					<a href="backings.php">
						Backings<span>&gt;</span>
					</a>
				</li>
			</ul>
			<div id="appView">
				[onload;file=[var.template];getbody]
			</div>
		</div>
	</body>
</html>