<h2>Cash Games</h2>
<table class="sessionTable">
	<thead>
		<th>Date</th>
		<th>Location</th>
		<th>Small Blind</th>
		<th>Big Blind</th>
		<th>Duration</th>
		<th>Profit</th>
		<th></td>
	</thead>
	<tbody>
		<tr class="odd">
			<td>
				<strong>[finishedGames.START_DATE;block=tr;frm='ddd dd mmm yyyy']</strong>
			</td>
			<td>
				<strong>[finishedGames.LOCATION_NAME;ifempty='None']</strong>
			</td>
			<td>[finishedGames.SMALL_BLIND]</td>
			<td>[finishedGames.BIG_BLIND]</td>
			<td>[finishedGames.DURATION;frm='0';ifempty='0'] mins</td>
			<td>
				<strong>[finishedGames.PROFIT;frm='$ 0,000.00']</strong>
			</td>
			<td>
				<a href="index.php?action=details&gsId=[finishedGames.GS_ID]">View Details ></a>
			</td>
		</tr>
		<tr class="even">
			<td>
				<strong>[finishedGames.START_DATE;block=tr;frm='ddd dd mmm yyyy']</strong>
			</td>
			<td>
				<strong>[finishedGames.LOCATION_NAME;ifempty='None']</strong>
			</td>
			<td>[finishedGames.SMALL_BLIND]</td>
			<td>[finishedGames.BIG_BLIND]</td>
			<td>[finishedGames.DURATION;frm='0';ifempty='0'] mins</td>
			<td>
				<strong>[finishedGames.PROFIT;frm='$ 0,000.00']</strong>
			</td>
			<td>
				<a href="index.php?action=details&gsId=[finishedGames.GS_ID]">View Details ></a>
			</td>
		</tr>
		<tr style="background-color:#FFCFB9">
			[finishedGames;block=tr;nodata]
			<td colspan="7">No sessions available.</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7"><a href="index.php?action=record">Add a new session</a></td>
		</tr>	
	</tfoot>
</table>
