<html>
<body>
<button>ADD NEW SESSION</button>
<table style="width:100%;">
	<tr style="background-color:#CACACA">
		<td><strong>Start Date</strong></td>
		<td><strong>Start Time</strong></td>
		<td><strong>End Time</strong></td>
		<td><strong>Buy In</strong></td>
		<td><strong>Buy Out</strong></td>
		<td><strong>Location</strong></td>
		<td><strong>Big Blind</strong></td>
		<td><strong>Small Blind</strong></td>
	</tr>
	<tr style="background-color:#F0F0F0">
		<td>[activeGames.START_DATE;block=tr;frm='mmm dd yyyy']</td>
		<td>[activeGames.START_DATE;frm='hh:nn:ss']</td>
		<td>[activeGames.END_DATE;frm='hh:nn:ss']</td>
		<td>[activeGames.AMOUNT_IN;frm='$ 0,000.00']</td>
		<td>[activeGames.AMOUNT_OUT;frm='$ 0,000.00']</td>
		<td>[activeGames.LOCATION_NAME;frm='$ 0,000.00']</td>
		<td>[activeGames.BIG_BLIND]</td>
		<td>[activeGames.SMALL_BLIND]</td>
	</tr>
	<tr style="background-color:#E6E6E6">
		<td>[activeGames.START_DATE;block=tr;frm='mmm dd yyyy']</td>
		<td>[activeGames.START_DATE;frm='hh:nn:ss']</td>
		<td>[activeGames.END_DATE;frm='hh:nn:ss']</td>
		<td>[activeGames.AMOUNT_IN;frm='$ 0,000.00']</td>
		<td>[activeGames.AMOUNT_OUT;frm='$ 0,000.00']</td>
		<td>[activeGames.LOCATION_NAME;frm='$ 0,000.00']</td>
		<td>[activeGames.BIG_BLIND]</td>
		<td>[activeGames.SMALL_BLIND]</td>
	</tr>

	<tr style="background-color:#FFCFB9">
		[activeGames;block=tr;nodata]
		<td colspan="7">No history available.</td>
	</tr>
</table>

</body>
</html>