<h2>Cash Games</h2>
<table class="sessionTable">
	<thead>
		<th>Date</th>
		<th>Location</th>
		<th>Small Blind</th>
		<th>Big Blind</th>
		<th>Duration</th>
		<th>Profit</th>
		<th></td>
	</thead>
	<tbody>
		<tr class="odd">
			<td>
				<strong>[finishedCGames.START_DATE;block=tr;frm='ddd dd mmm yyyy']</strong>
			</td>
			<td>
			<strong>[finishedCGames.LOCATION_NAME;ifempty='None']</strong>
			</td>
			<td>[finishedCGames.SMALL_BLIND]</td>
			<td>[finishedCGames.BIG_BLIND]</td>
			<td>[finishedCGames.DURATION;frm='0';ifempty='0'] mins</td>
			<td>
				<strong>[finishedCGames.PROFIT;frm='$ 0,000.00']</strong>
			</td>
			<td>
				<a href="index.php?action=details&gsId=[finishedCGames.GS_ID]">View Details ></a>
			</td>
		</tr>
		<tr class="even">
			<td>
				<strong>[finishedCGames.START_DATE;block=tr;frm='ddd dd mmm yyyy']</strong>
			</td>
			<td>
			<strong>[finishedCGames.LOCATION_NAME;ifempty='None']</strong>

			</td>
			<td>[finishedCGames.SMALL_BLIND]</td>
			<td>[finishedCGames.BIG_BLIND]</td>
			<td>[finishedCGames.DURATION;frm='0';ifempty='0'] mins</td>
			<td>
				<strong>[finishedCGames.PROFIT;frm='$ 0,000.00']</strong>
			</td>
			<td>
				<a href="index.php?action=details&gsId=[finishedCGames.GS_ID]">View Details ></a>
			</td>
		</tr>
		<tr style="background-color:#FFCFB9">
			[finishedCGames;block=tr;nodata]
			<td colspan="7">No sessions available.</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7"><a href="index.php?action=record_cash">Add a new session</a></td>
		</tr>
	</table>
	
	<h2>Tournament Games</h2>
	<table class="sessionTable">
		<thead>
			<th>Date</th>
			<th>Location</th>
			<th>Placed Finished</th>
			<th>Duration</th>
			<th>Profit</th>
			<th></th>
		</thead>
		<tbody>
			<tr class="odd">
				<td>
					<strong>[finishedTGames.START_DATE;block=tr;frm='ddd dd mmm yyyy']</strong>
				</td>
				<td>
					<strong>[finishedTGames.LOCATION_NAME;ifempty='None']</strong>
				</td>
				<td>[finishedTGames.PLACED_FINISHED]</td>
				<td>[finishedTGames.DURATION;frm='0';ifempty='0'] mins</td>
				<td>
					<strong>[finishedTGames.PROFIT;frm='$ 0,000.00']</strong>
				</td>
				<td>
					<a href="index.php?action=details-tournament&gsId=[finishedTGames.GS_ID]">View Details ></a>
				</td>
			</tr>
			<tr class="even">
				<td>
					<strong>[finishedTGames.START_DATE;block=tr;frm='ddd dd mmm yyyy']</strong>
				</td>
				<td>
					<strong>[finishedTGames.LOCATION_NAME]</strong>
				</td>
				<td>[finishedTGames.PLACED_FINISHED]</td>
				<td>[finishedTGames.DURATION;frm='0';ifempty='0'] mins</td>
				<td>
					<strong>[finishedTGames.PROFIT;frm='$ 0,000.00']</strong> 
				</td>
				<td>
					<a href="index.php?action=details-tournament&gsId=[finishedTGames.GS_ID]">View Details ></a>
				</td>
			</tr>

			<tr style="background-color:#FFCFB9">
				[finishedTGames;block=tr;nodata]
				<td colspan="6">No sessions available.</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6"><a href="index.php?action=record_tournament">Add a new session</a></td>
			</tr>
		</tfoot>
	</table>

	</body>
</html>

