<h1>Payments from You</h1>
<table>
	<thead>
		<th>To</th>
		<th>When</th>
		<th>Amount</th>
	</thead>
	<tbody>
		<tr class="odd">
			<td>[from.TO;block=tr;]</td>
			<td>[from.DATE;frm='mmm dd yyyy']</td>
			<td>$[from.AMOUNT;]</button></td>
		</tr>
		<tr class="even">	
			<td>[from.TO;block=tr;]</td>
			<td>[from.DATE;frm='mmm dd yyyy']</td>
			<td>$[from.AMOUNT;]</button></td>
		</tr>
	</tbody>
</table>

<h1>Payments to You</h1>
<table>
	<thead>
		<th>From</th>
		<th>When</th>
		<th>Amount</th>
	</thead>
	<tbody>
		<tr class="odd">
			<td>[to.TO;block=tr;]</td>
			<td>[to.DATE;frm='mmm dd yyyy']</td>
			<td>$[to.AMOUNT;]</button></td>
		</tr>
		<tr class="even">	
			<td>[to.TO;block=tr;]</td>
			<td>[to.DATE;frm='mmm dd yyyy']</td>
			<td>$[to.AMOUNT;]</button></td>
		</tr>
	</tbody>
</table>

<p>
	[messages.val;block=p;]
</p>

<h1>Add a Payment</h1>


<form method="POST" action="index.php?action=payment">
		<label>Username:</label>
		<input type="text" name="username" value="[payeeUsername]" required>
		<label>Amount:</label>
		<input type="number" name="amount" value="[payeeAmount]" required min=1>
		<label>Date:</label>
		<input type="date" name="date">
		<br>
		<input type="submit" name="" value="Pay" >
</form>