

<html>
<body>
<table style="width:100%;">
	<tr style="background-color:#CACACA">
		<td><strong>Backer Name</strong></td>
		<td><strong>Total Amount Owed</strong></td>
		<td><strong>Pay Off</strong></td>
	</tr>
	<tr style="background-color:#F0F0F0">
		<td>USERNAME</td>
		<td>OWED</td>
		<td><button id = "Pay Off" name=\"button\" >Pay Off BACKER_ID</button></td>
	</tr>
</table>

<table style="width:100%;">
	<tr style="background-color:#CACACA">
		<td><strong>Backer Name</strong></td>
		<td><strong>Flat Fee</strong></td>
		<td><strong>Percent of Winnings</strong></td>
		<td><strong>Percent of Loss</strong></td>
		<td><strong>Override Amount</strong></td>
	</tr>
	<tr style="background-color:#F0F0F0">
		<td>USERNAME</td>
		<td>FLAT_FEE</td>
		<td>PERCENT_OF_WIN</td>
		<td>PERCENT_OF_LOSS</td>
		<td>OVERRIDE_AMOUNT</td>
	</tr>
</table>

<table style="width:100%;">
	<tr style="background-color:#CACACA">
		<td><strong>Users with the same Backers</strong></td>
	</tr>
	<tr style="background-color:#F0F0F0">
		<td>USERNAME</td>
	</tr>
</table>

<h1>Backing Agreement Form</h1>
<form method="POST" action="backings.php">
	<div>
		<label>Username:</label>
		<input type="text" name="username">
	</div>	
	<div>
		<label>Flat Fee:</label>
		<input type="number" name="flatfee">
	</div>	
	<div>
		<label>Percent of Win:</label>
		<input type="number" name="pow"/>
	</div>	
	<div>
		<label>Percent of Loss:</label>
		<input type="number" name="pol">
	</div>	
	<div>
		<label>Override Amount:</label>
		<input type="number" name="oa">
	</div>	
		<input type="submit" name="" value="Add" >
</form>

</body>
</html>
