<h1>Your Backers</h1>
<table>
	<thead>
		<th>Backer Name</th>
		<th>Total Amount Owed</th>
		<th>Pay Off</th>
	</thead>
	<tbody>
		<tr class="odd">
			<td>[backers.USERNAME;block=tr;]</td>
			<td>[backers.OWED]</td>
			<td>
				<form method="POST" action="index.php?action=payment">	
					<input type="hidden" name="payeeUsername" value="[backers.USERNAME]" >
					<input type="hidden" name="payeeAmount" value="[backers.OWED]" >
					<input id = "Pay Off" type="submit" value="Pay Off">
				</form>
			</td>
		</tr>
		<tr class="even">
			<td>[backers.USERNAME;block=tr;]</td>
			<td>[backers.OWED]</td>
			<td>
				<form method="POST" action="index.php?action=payment">	
					<input type="hidden" name="payeeUsername" value="[backers.USERNAME]" >
					<input type="hidden" name="payeeAmount" value="[backers.OWED]" >
					<input id = "Pay Off" type="submit" value="Pay Off">
				</form>
			</td>
		</tr>
	</tbody>
	<tfoot>
	</tfoot>
</table>

<h1>Your Backing Agreements</h1>
<table>
	<thead>
		<th>Backer Name</th>
		<th>Flat Fee</th>
		<th>Percent of Winnings</th>
		<th>Percent of Loss</th>
		<th>Override Amount</th>
	</thead>
		<tbody>
		<tr class="odd">
			<td>[backingAgreement.USERNAME;block=tr;]</td>
			<td>[backingAgreement.FLAT_FEE]</td>
			<td>[backingAgreement.PERCENT_OF_WIN]</td>
			<td>[backingAgreement.PERCENT_OF_LOSS]</td>
			<td>[backingAgreement.OVERRIDE_AMOUNT]</td>
		</tr>
		<tr class="even">	
			<td>[backingAgreement.USERNAME;block=tr;]</td>
			<td>[backingAgreement.FLAT_FEE]</td>
			<td>[backingAgreement.PERCENT_OF_WIN]</td>
			<td>[backingAgreement.PERCENT_OF_LOSS]</td>
			<td>[backingAgreement.OVERRIDE_AMOUNT]</td>
		</tr>
	</tbody>
</table>

<h1>Users with the same Backers</h1>
<table>
	<thead>
		<th>
			Username
		</th>
	</thead>
		<tbody>
		<tr class="odd">
			<td>[sameBackers.val;block=tr;]</td>
		</tr>
		<tr class="even">	
			<td>[sameBackers.val;block=tr;]</td>
		</tr>
	</tbody>
</table>

<p>
	[messages.val;block=p;]
</p>

<h1>Add a Backer</h1>
<form method="POST" action="index.php?action=backer">
	<div>
		<label>Username:</label>
		<input type="text" name="backerToAdd" required>
	</div>		
	<input type="submit" name="" value="Add" >
</form>


<h1>Add a Backing Agreement</h1>
<form method="POST" action="index.php?action=backings">
	<div>
		<label>Username:</label>
		<select name="backerId" required>
			<option value="[backerList.key]">[backerList.val;block=option]</option> 
		</select>
	</div>	
	<div>
		<label>Flat Fee:</label>
		<input type="number" name="flatfee" value=0>
	</div>	
	<div>
		<label>Percent of Win:</label>
		<input type="number" name="pow" value=0>
	</div>	
	<div>
		<label>Percent of Loss:</label>
		<input type="number" name="pol" value=0>
	</div>	
	<div>
		<label>Override Amount:</label>
		<input type="number" name="oa">
	</div>	
		<input type="submit" name="" value="Add" >
</form>