<div>

<p>
	[messages.val;block=p;]
</p>


<h1>Your Horses</h1>
<table style="width:100%;">
	<tr style="background-color:#CACACA">
		<td><strong>[usernameEmail]</strong></td>
		<td><strong>Total Amount Owed</strong></td>
	</tr>
	<tr style="background-color:#F0F0F0">
		<td>[horses.VAL;block=tr;]</td>
		<td>[horses.OWED]</td>
	</tr>
	<tr style="background-color:#E6E6E6">
		<td>[horses.VAL;block=tr;]</td>
		<td>[horses.OWED]</td>
	</tr>
</table>



<form method="POST" action="horses.php">	
	<h1> Get Horses using: </h1>
	<input type="radio" name="usernameEmail" value="username" checked="checked" required>Username<br>
	<input type="radio" name="usernameEmail" value="email" required>Email<br>
	and Owes At Least <input type="number" name="owesAtLeast" value="0" required>
	<input type="submit" value="Show">
</form>

</div>