

<html>
<body>
<table style="width:100%;">
	<tr style="background-color:#CACACA">
		<td><strong>Backer Name</strong></td>
		<td><strong>Total Amount Owed</strong></td>
		<td><strong>Pay Off</strong></td>
	</tr>
	<tr style="background-color:#F0F0F0">
		<td>[backers.USERNAME;block=tr;]</td>
		<td>[backers.OWED]</td>
		<td><button id = "Pay Off" name=\"button\" >Pay Off BACKER_ID</button></td>
	</tr>
	<tr style="background-color:#E6E6E6">
		<td>[backers.USERNAME;block=tr;]</td>
		<td>[backers.OWED]</td>
		<td><button id = "Pay Off" name=\"button\" >Pay Off BACKER_ID</button></td>
	</tr>
</table>

<table style="width:100%;">
	<tr style="background-color:#CACACA">
		<td><strong>Backer Name</strong></td>
		<td><strong>Flat Fee</strong></td>
		<td><strong>Percent of Winnings</strong></td>
		<td><strong>Percent of Loss</strong></td>
		<td><strong>Override Amount</strong></td>
	</tr>
	<tr style="background-color:#F0F0F0">
		<td>[backingAgreement.USERNAME;block=tr;]</td>
		<td>[backingAgreement.FLAT_FEE]</td>
		<td>[backingAgreement.PERCENT_OF_WIN]</td>
		<td>[backingAgreement.PERCENT_OF_LOSS]</td>
		<td>[backingAgreement.OVERRIDE_AMOUNT]</td>
	</tr>
	<tr style="background-color:#E6E6E6">	
		<td>[backingAgreement.USERNAME;block=tr;]</td>
		<td>[backingAgreement.FLAT_FEE]</td>
		<td>[backingAgreement.PERCENT_OF_WIN]</td>
		<td>[backingAgreement.PERCENT_OF_LOSS]</td>
		<td>[backingAgreement.OVERRIDE_AMOUNT]</td>
	</tr>
</table>

<table style="width:100%;">
	<tr style="background-color:#CACACA">
		<td><strong>Users with the same Backers</strong></td>
	</tr>
	<tr style="background-color:#F0F0F0">
		<td>[sameBackers.val;block=tr;]</td>
	</tr>
</table>

<p>
	[messages.val;block=p;]
</p>

<h1>Add Backer</h1>
<form method="POST" action="backer.php">
	<div>
		<label>Username:</label>
		<input type="text" name="backerToAdd">
	</div>		
	<input type="submit" name="" value="Add" >
</form>


<h1>Backing Agreement Form</h1>
<form method="POST" action="backings.php">
	<div>
		<label>Username:</label>
		<select name="backerId">
			<option value="[backerList.key]">[backerList.val;block=option]</option> 
		</select>
	</div>	
	<div>
		<label>Flat Fee:</label>
		<input type="number" name="flatfee" value=0>
	</div>	
	<div>
		<label>Percent of Win:</label>
		<input type="number" name="pow" value=0>
	</div>	
	<div>
		<label>Percent of Loss:</label>
		<input type="number" name="pol" value=0>
	</div>	
	<div>
		<label>Override Amount:</label>
		<input type="number" name="oa">
	</div>	
		<input type="submit" name="" value="Add" >
</form>

</body>
</html>
