<html>
	<body>
		<h2>Create Cash Game</h2>
		<form id="newSessionForm" method="POST" action="">
			<table>
				<tr>
					<td class="leftColumn"><label for="sessionStart">Start:</label></td>
					<td class="rightColumn"><input id="sessionStart" type="date" name="startDate"></td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionEnd">End:</label></td>
					<td class="rightColumn"><input id="sessionEnd" type="date" name="endDate"></td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionBuyin">Buy-in:</label></td>
					<td class="rightColumn"><input id="sessionBuyin" type="text" name="amountIn"></td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionCashout">Cash-out:</label></td>
					<td class="rightColumn"><input id="sessionCashout" type="text" name="amountOut"></td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionLocation">Location:</label></td>
					<td class="rightColumn">
						<select id="sessionLocation" name="locationName" onchange="checkLocationName();">
							<option value="[locations.NAME;block=option;]">[locations.NAME]</option>
							<option value="">New Location</option>
						</select>
						<span id="newLocation" style="display:none;">
							<br/>
							<label for="sessionNewLocation">Name:</label>
							<input id="sessionNewLocation" type="text" name="newLocationName">
						</span>
					</td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionBacker">Backer:</label></td>
					<td class="rightColumn">
						<select id="sessionBacker" name="backingAgreementId" onchange="checkBackerNamePercentage();">
							<option value="-1">No Backer</option>
							<option value="[backers.BA_ID;block=option;]">[backers.USERNAME] - [backers.PERCENT_OF_WIN]%</option>
						</select>
					</td>
				</tr>
			</table>

			<input id="sessionSave" type="submit" value="Save" name="submit">
		</form>

		<script>
			checkLocationName();

			function checkLocationName() {
				// Hide input
				document.getElementById("newLocation").style.display = "none";
				document.getElementById("sessionNewLocation").value = "";

				var dropdownList = document.getElementById("sessionLocation");
				if(dropdownList.options[dropdownList.selectedIndex].value == "") {
					// Show input
				 	document.getElementById("newLocation").style.display = "";
				}
			}
		</script>

	</body>
</html>
