<html>
	<body>
		<h2>Cash Game Details</h2>
		<form id="newSessionForm" method="POST" action="">
			<table>
				<tr>
					<td class="leftColumn"><label for="sessionStart">Start:</label></td>
					<td class="rightColumn"><input id="sessionStart" type="date" name="startDate" value="[var.details.startDate;frm='yyyy-mm-dd']"></td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionEnd">End:</label></td>
					<td class="rightColumn"><input id="sessionEnd" type="date" name="endDate" value="[var.details.endDate;frm='yyyy-mm-dd']"></td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionBuyin">Buy-in:</label></td>
					<td class="rightColumn"><input id="sessionBuyin" type="number" name="amountIn" value="[var.details.amountIn]"></td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionCashout">Cash-out:</label></td>
					<td class="rightColumn"><input id="sessionCashout" type="number" name="amountOut" value="[var.details.amountOut]"></td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionLocation">Location:</label></td>
					<td class="rightColumn">
						<select id="sessionLocation" name="locationName" onchange="checkLocationName();">
							<option value="[locations.NAME;block=option;]">[locations.NAME]</option>
							<option value="">New Location</option>
						</select>
						<span id="newLocation" style="display:none;">
							<br/>
							<label for="sessionNewLocation">Name:</label>
							<input id="sessionNewLocation" type="text" name="newLocationName">
						</span>
					</td>
				</tr>
				<tr>
					<td class="leftColumn"><label for="sessionBacker">Backer:</label></td>
					<td class="rightColumn">
						<select id="sessionBacker" name="backingAgreementId" onchange="checkBackerNamePercentage();">
							<option value="-1">No Backer</option>
							<option value="[backers.BA_ID;block=option;]">[backers.USERNAME] - [backers.PERCENT_OF_WIN]%</option>
							<option value="">New Backer</option>
						</select>
						<span id="newBackingAgreement" style="display:none;">
							<br/>
							<label for="sessionNewBackerName">Name:</label>
							<input id="sessionNewBackerName" type="text" name="newBackerName">
							<br/>
							<label for="sessionNewBackerPercentage">Percentage:</label>
							<input id="sessionNewBackerPercentage" type="text" name="newBackerPercentage" size="2">
						</span>
					</td>
				</tr>
			</table>

			<input id="sessionSave" type="submit" value="Save" name="submit">
			<input id="sessionDelete" type="submit" value="Delete" name="delete">
		</form>

		<script>
			checkLocationName();
			checkBackerNamePercentage();

			var dropdownList = document.getElementById("sessionLocation");
			for(var i, j = 0; i = dropdownList.options[j]; j++) {
			    if(i.value == "[var.details.locationName]") {
			        dropdownList.selectedIndex = j;
			        break;
			    }
			}

			function checkLocationName() {
				// Hide input
				document.getElementById("newLocation").style.display = "none";
				document.getElementById("sessionNewLocation").value = "";

				var dropdownList = document.getElementById("sessionLocation");
				if(dropdownList.options[dropdownList.selectedIndex].value == "") {
					// Show input
				 	document.getElementById("newLocation").style.display = "";
				}
			}

			function checkBackerNamePercentage() {
				// Hide input
				document.getElementById("newBackingAgreement").style.display = "none";
				document.getElementById("sessionNewBackerName").value = "";
				document.getElementById("sessionNewBackerPercentage").value = "";

				var dropdownList = document.getElementById("sessionBacker");

				if(dropdownList.options[dropdownList.selectedIndex].value == "") {
					// Show input
				 	document.getElementById("newBackingAgreement").style.display = "";
				}
			}

		</script>

	</body>
</html>
