<p>
	[messages.val;block=p;]
</p>

<h1>Login Form</h1>
<form method="POST" action="index.php?view=login">
	<p>Your username must be of at least length 3</p>
	<label>Username:</label>
	<input type="text" name="username" pattern=".{3,}" required> 
	<label>Password:</label>
	<input type="password" name="password" required>
	<input type="submit" name="" value="Login" >
</form>

<h1>Registration Form</h1>
<form method="POST" action="index.php?view=register">
	<p>Your username must be of at least length 3</p>
	<label>Username:</label>
	<input type="text" name="username" pattern=".{3,}" required>
	<label>Password:</label>
	<input type="password" name="password" required>
	<label>Email:</label>
	<input type="text" name="email" required>
	<input type="submit" name="" value="Register Me" >
</form>