<p>
	[messages.val;block=p;]
</p>

<h1>My Account</h1>
<form method="POST" action="index.php?action=user">
	<p>Your username must be of at least length 3</p>
	<label>Username:</label>
	<input type="text" name="username" value="[username]" pattern=".{3,}" required>
	<label>Password:</label>
	<input type="password" name="password">
	<label>Email:</label>
	<input type="text" name="email" value="[email]" required>
	<input type="submit" name="" value="Save Me" >
</form>

<h1>Delete My Account</h1>
<form method="POST" action="index.php?action=delete-user">
	<p>Confirm by typing your password below, and confirming</p>
	<label>Password:</label>
	<input type="password" name="password" required>
	<input type="submit" name="" value="Confirm" >
</form>